body{
  font-family: 'Roboto', sans-serif;
}

header{
  height: 70px;
  background-color: cornflowerblue;
}

main{
  background-color:lightsteelblue;
  height: calc(100vh - 70px);
  overflow: auto;
}

.classi{
  height: 40vh;
  border: 1px solid black;
}

.faq{
  height: 20vh;
  border: 1px solid black;
}

.todo{
  height: calc(100vh - 190px);
  border: 1px solid black;
}

aside{
  background-image: url(../img/sidebar-bg.png);
  background-color: #051E34;
  font-family: 'Poppins', sans-serif;
}

aside .nav-link{
  color: white
}

aside i{
  font-size: 1.8rem;
  margin:0;
  padding-right: 10px;
}

.jt-badge{
  border-radius: 15px;
  padding: auto 12px;
}


/* MEDIA QUERY */

@media screen and (max-width: 991px) {

  header .navbar{
    flex-wrap: nowrap;
  }

  .fullheight{
    width: 100%
  }

  aside{
    padding: 0;
  }

  /* .row-tags{
    width: 100%;
  } */
  
}