/* BODY */

body{
  font-family: 'Roboto', sans-serif;
}

/* HEADER */

header{
  height: 70px;
  background-color: cornflowerblue;
}

/* ASIDE */

aside{
  background-image: url(../img/sidebar-bg.png);
  background-color: #051E34;
  font-family: 'Poppins', sans-serif;
  /* width: 15%; */
}

aside .nav-link{
  color: white;
  font-size: 1rem;
  padding: 0.8rem 0;
}

aside i{
  margin:0;
  padding-right: 8px;
  font-size: 0.8rem;
}

/* MAIN */

main{
  height: calc(100vh - 70px);
  overflow-y: scroll;
  /* width: 85%; */
}

/* Table */

.table .name{
  width: 55%;
}

.table .date{
  width: 18%;
}

.table .roi{
  width: 8%;
}

.table .state{
  width: 6%;
}

.table .actions{
  width: 8%;
}

.table i{
  border: 1px solid #A5AAAE;
  border-radius: 4px;
  padding: 6px;
  /* margin: 8px; */
}

/* Personal classes */

.jt-logo{
  max-width: 50px;
}

.jt-badge{
  border-radius: 15px;
  padding: auto 12px;
}

.jt-search{
  display: block;
  border-top-left-radius: 0.375rem;
  border-bottom-left-radius: 0.375rem;
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  border: 1px solid #ced4da;
  margin:0
}

.jt-navsearch{
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.jt-bell{
  color: #FF8F00;
}

.jt-avatar{
  max-width: 25px;
}

/* MEDIA QUERY */

@media screen and (max-width: 991px) {

  header .navbar{
    flex-wrap: nowrap;
  }

  aside .nav-link{
    text-align: center;
  }

  aside i{
    text-align: center;
    padding: 0 5px;
    font-size: 1.5rem;
  }
  
}