body{
  font-family: 'Roboto', sans-serif;
  font-family: 'Poppins', sans-serif;
}

header{
  width: 100vw;
  height: 70px;
  background-color: cornflowerblue;
}

main{
  background-color:lightsteelblue;
  height: calc(100vh - 70px);
}

.fullheight{
  height: 100%;
}

.tags{
  height: 120px;
}

.classi{
  height: 40vh;
  border: 1px solid black;
}

.faq{
  height: 20vh;
  border: 1px solid black;
}

.todo{
  height: calc(100vh - 190px);
  border: 1px solid black;
}

aside{
  background-image: url(../img/sidebar-bg.png);
  background-color: #051E34;
}

aside .nav-link{
  color: white
}

aside i{
  font-size: 1.8rem;
  margin:0
}

main .badge{
  border-radius: 15px;
  padding: auto 10px;
}
