body{
  font-family: 'Roboto', sans-serif;
}

header{
  height: 70px;
  background-color: cornflowerblue;
}

main{
  /* background-color:lightsteelblue; */
  height: calc(100vh - 70px);
  overflow: auto;
}


/* .faq{
  height: 20vh;
  border: 1px solid black;
} */

.todo{
  height: calc(100vh - 190px);
  border: 1px solid black;
}

aside{
  background-image: url(../img/sidebar-bg.png);
  background-color: #051E34;
  font-family: 'Poppins', sans-serif;
}

aside .nav-link{
  color: white
}

aside i{
  font-size: 1.8rem;
  margin:0;
  padding-right: 10px;
}

.jt-logo{
  max-width: 50px;
}

.jt-badge{
  border-radius: 15px;
  padding: auto 12px;
}

.jt-search{
  display: block;
  border-top-left-radius: 0.375rem;
  border-bottom-left-radius: 0.375rem;
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  border: 1px solid #ced4da;
  margin:0
}

.jt-navsearch{
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.jt-bell{
  color: #FF8F00;
}

.jt-avatar{
  max-width: 25px;
}

.table .name{
  width: 55%;
}

.table .date{
  width: 18%;
}

.table .roi{
  width: 8%;
}

.table .state{
  width: 6%;
}

.table .actions{
  width: 8%;
}

.table i{
  border: 1px solid #A5AAAE;
  border-radius: 4px;
  padding: 6px;
  /* margin: 8px; */
}

/* MEDIA QUERY */

@media screen and (max-width: 991px) {

  header .navbar{
    flex-wrap: nowrap;
  }

  .fullheight{
    width: 100%
  }

  aside{
    padding: 0;
  }

  /* .row-tags{
    width: 100%;
  } */
  
}